<div class="container">
    <h1>Delete Item</h1>
   
    <a href="#" routerLink="/item/index" class="btn btn-primary">Back</a>
        
    <br>

    <h5>Name: {{item.name}}</h5>
    <h5>Quantity: {{item.quantity}}</h5>
    <h5>Price: {{item.price/100}}</h5>

    <form [formGroup]="form" (ngSubmit)="submit()">

        <div class="form-group">
            <label for="deletedMessage">Delete Comment:</label>
            <input 
                formControlName="deletedMessage"
                id="deletedMessage" 
                type="text" 
                [(ngModel)]="item.deletedMessage"
                class="form-control">
        </div>
         
        <button class="btn btn-primary" type="submit">Delete</button>
    </form>
</div>